version: '3.8'

services:
  init:
    image: "${PROJECT_IMAGE:-${COMPOSE_PROJECT_NAME}:latest}"
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "/app/deploy/init.sh"
    volumes:
      - webapp:${BS_WEBAPP_ROOT}
      - static:${BS_STATIC_ROOT}
      - media:${BS_MEDIA_ROOT}
    networks:
      - ${BS_NETWORK_MODE:-default-network}
    env_file:
      - ./.env

  admin:
    image: "${PROJECT_IMAGE:-${COMPOSE_PROJECT_NAME}:latest}"
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "/app/deploy/admin.sh"
    volumes:
      - static:${BS_STATIC_ROOT}
      - media:${BS_MEDIA_ROOT}
    networks:
      - ${BS_NETWORK_MODE:-default-network}
    env_file:
      - ./.env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${SAMPLE_PROJECT_NAME}-admin.rule=Host(`${BS_ADMIN_DOMAIN}`) && PathPrefix(`/admin`)"
      - "traefik.http.routers.${SAMPLE_PROJECT_NAME}-admin.entrypoints=web"
      - "traefik.http.services.${SAMPLE_PROJECT_NAME}-admin.loadbalancer.server.port=${BS_ADMIN_PORT}"
      - "traefik.http.middlewares.${SAMPLE_PROJECT_NAME}-set-x-forwarded-proto.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.${SAMPLE_PROJECT_NAME}-admin.middlewares=${SAMPLE_PROJECT_NAME}-set-x-forwarded-proto"
    depends_on:
      init:
        condition: service_completed_successfully

  app:
    image: "${PROJECT_IMAGE:-${COMPOSE_PROJECT_NAME}:latest}"
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "/app/deploy/app.sh"
    volumes:
      - static:${BS_STATIC_ROOT}
      - media:${BS_MEDIA_ROOT}
    networks:
      - ${BS_NETWORK_MODE:-default-network}
    env_file:
      - ./.env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${SAMPLE_PROJECT_NAME}-app.rule=Host(`${BS_APP_DOMAIN}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.${SAMPLE_PROJECT_NAME}-app.entrypoints=web"
      - "traefik.http.services.${SAMPLE_PROJECT_NAME}-app.loadbalancer.server.port=${BS_APP_PORT}"
      - "traefik.http.middlewares.${SAMPLE_PROJECT_NAME}-set-x-forwarded-proto.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.${SAMPLE_PROJECT_NAME}-app.middlewares=${SAMPLE_PROJECT_NAME}-set-x-forwarded-proto"
    depends_on:
      init:
        condition: service_completed_successfully

  nginx:
    image: nginx:alpine
    volumes:
      - static:/usr/share/nginx/html/static
      - media:/usr/share/nginx/html/media
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${SAMPLE_PROJECT_NAME}-nginx.rule=(Host(`${BS_ADMIN_DOMAIN}`) || Host(`${BS_APP_DOMAIN}`)) && (PathPrefix(`/static`) || PathPrefix(`/media`))"
      - "traefik.http.routers.${SAMPLE_PROJECT_NAME}-nginx.entrypoints=web"
      - "traefik.http.services.${SAMPLE_PROJECT_NAME}-nginx.loadbalancer.server.port=80"
    networks:
      - ${BS_NETWORK_MODE:-default-network}

  redis:
    image: redis:alpine
    command: redis-server --save 60 1 --loglevel warning
    networks:
      - ${BS_NETWORK_MODE:-default-network}


networks:
  traefik-network:
    external: true

  default-network:
    driver: bridge


volumes:
  webapp:
  static:
  media:
